
@model DotNetShopping.Models.ProductBoxModel
@{
    var productName = DotNetShopping.Helpers.StringHelper.ClearFileName(Model.VariantName + " " + Model.ProductName);
}
<a href="@Url.Action("Product","ProductDetail",new { id = Model.VariantId,name=productName })">
    <div class="owl-items">
        <div class="item">
            <div class="item-area">
                <div class="product-image-area">
                    <img src="~/ProductImage/@(Model.PhotoName)-3.jpg" />
                    @if (Model.CampaignName != "")
                    {
                        <div class="product-label"><span class="sale-product-icon">@Model.CampaignName</span></div>
                    }
                    <div class="product-label"><span class="sale-product-icon">New</span></div>
                </div>
                <div class="details-area">
                    <h2 class="product-name">@Model.VariantName - @Model.ProductName</h2>
                    <div class="price-box">
                        <p class="special-price">
                            <span class="price" id="product-price-388">
                                $@Model.UnitPrice
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>