<div class="accountBox">
    <div class="accountRow">
        <img src="~/images/60-px.jpg"
             srcset="~/images/60-px@2x.jpg 2x,
             ~/images/60-px@3x.jpg 3x"
             class="accountPhoto">
        <div class="accountText">
            <div class="accountName">Jennifer Lopez</div>
            <div class="accountTitle">Bilgisayar Mühendisi</div>
        </div>
    </div>
    <div class="accountRow">
        <div class="accountStat accountBorder">
            <div class="accountStatText">569</div>
            <div class="accountStatDesc">LESSONS</div>
        </div>
        <div class="accountStat accountBorder accountStatPadding">
            <div class="accountStatText">89</div>
            <div class="accountStatDesc">SAMPLE</div>
        </div>
        <div class="accountStat accountStatPadding">
            <div class="accountStatText">102</div>
            <div class="accountStatDesc">FOLLOWING</div>
        </div>
    </div>
    <div class="accountRow accountSlicer"></div>
    
</div>
