<div class="menuTitle">
    <div class="accountStatDesc">WEEKLY PERFORMANCE</div>
    <div class="menuRight">
        <div class="menuTitleLeft accountStatDesc">Last 7 days</div>
        <img class="menuTitleRight" src="~/images/dropdown-arrow.svg" />
    </div>
</div>
<div class="menuTitle">
    <div class="menuBlock">
        <div class="menuSubtitle">Interactions</div>
        <div class="accountStatDesc">Total taps on your post or profile</div>
    </div>
    <div class="statNumber">1,446</div>
</div>
<div class="graphRow">
    <div class="graphColumn">
        <div style="height:56px;" class="graphBar"></div>
        <div class="graphLabel">M</div>
    </div>
    <div class="graphColumn">
        <div style="height:41px;" class="graphBar"></div>
        <div class="graphLabel">T</div>
    </div>
    <div class="graphColumn">
        <div style="height:16px;" class="graphBar"></div>
        <div class="graphLabel">W</div>
    </div>
    <div class="graphColumn">
        <div style="height:43px;" class="graphBar"></div>
        <div class="graphLabel">T</div>
    </div>
    <div class="graphColumn">
        <div style="height:49px;" class="graphBar"></div>
        <div class="graphLabel">F</div>
    </div>
    <div class="graphColumn">
        <div style="height:39px;" class="graphBar"></div>
        <div class="graphLabel">S</div>
    </div>
    <div class="graphColumn">
        <div style="height:30px;" class="graphBar"></div>
        <div class="graphLabel">S</div>
    </div>
</div>
<div class="accountBox">
    <div class="accountRow accountSlicer"></div>
</div>

<div class="menuTitle">
    <div class="menuBlock">
        <div class="menuSubtitle">Profile Visits</div>
        <div class="accountStatDesc">+263 vs 21 May - 27 May</div>
    </div>
    <div class="statNumber">1,369</div>
</div>
<div class="menuTitle">
    <div class="menuBlock">
        <div class="menuSubtitle">Website Clicks</div>
        <div class="accountStatDesc">+48 vs 21 May - 27 May</div>
    </div>
    <div class="statNumber">75</div>
</div>
<div class="menuTitle">
    <div class="menuBlock">
        <div class="menuSubtitle">Emails</div>
        <div class="accountStatDesc">+1 vs 21 May - 27 May</div>
    </div>
    <div class="statNumber">2</div>
</div>