<div class="lessonBox">
    <div class="lessonLeft">
        <div class="lessonTitle">The Basics Of Western Astrology Explained</div>
        <div class="lessonDate">1 January 2019</div>
        <div class="lessonBar">
            <div class="lessonBarBase"></div>
            <div class="lessonBarGreen"></div>
        </div>
        <div class="lessonEnroll">125 Students</div>
        <div class="lessonStars">
            <img src="~/images/staron.png" />
            <img src="~/images/staron.png" />
            <img src="~/images/staron.png" />
            <img src="~/images/staron.png" />
            <img src="~/images/staroff.png" />
        </div>
    </div>
    <div class="lessonRight">
        <img src="~/images/pic.jpg"
             srcset="~/images/pic@2x.jpg 2x,
             ~/images/pic@3x.jpg 3x"
             class="Pic">
    </div>
</div>