<div class="menuTitle">
    <div class="accountStatDesc">MAIN MENU</div>
</div>
<div class="menuItem">
    <img src="~/images/dashboard.svg" />
    <div>Dashboard</div>
</div>
<div class="menuItem">
    <img src="~/images/customers.svg" />
    <div>Customers</div>
</div>
<div class="menuItem">
    <img src="~/images/alerts.svg" />
    <div>Alerts</div>
</div>
<div class="menuItem">
    <img src="~/images/calendar.svg" />
    <div>Calendar</div>
</div>
<div class="menuItem">
    <img src="~/images/inbox.svg" />
    <div>Inbox</div>
</div>
<div class="menuItem">
    <img src="~/images/memos.svg" />
    <div>Memos</div>
</div>