<div class="tableView">
    <div class="tableRow">
        <div class="tableTitle tableCell">Completed</div>
        <div class="tableDesc tableCell tableCellFill">See All</div>
    </div>
    <div class="tableRow">
        <div class="tableCell">
            <div class="tableDateMonth">JUL</div>
            <div class="tableDateDay">28</div>
        </div>
        <div class="tableCell">
            <div class="tableBoldContent">Gumroad, Inc</div>
            <div class="tableContent">Payment Received</div>
        </div>
        <div class="tableCell tableCellFill">
            <div class="tableGreenContent">+250.00</div>
            <div class="tableContent">USD</div>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">
            <div class="tableDateMonth">JUL</div>
            <div class="tableDateDay">28</div>
        </div>
        <div class="tableCell">
            <div class="tableBoldContent">Gumroad, Inc</div>
            <div class="tableContent">Payment Received</div>
        </div>
        <div class="tableCell tableCellFill">
            <div class="tableGreenContent">+250.00</div>
            <div class="tableContent">USD</div>
        </div>
    </div>
    <div class="tableRow">
        <div class="tableCell">
            <div class="tableDateMonth">JUL</div>
            <div class="tableDateDay">28</div>
        </div>
        <div class="tableCell">
            <div class="tableBoldContent">Gumroad, Inc</div>
            <div class="tableContent">Payment Received</div>
        </div>
        <div class="tableCell tableCellFill">
            <div class="tableGreenContent">+250.00</div>
            <div class="tableContent">USD</div>
        </div>
    </div>
</div>