@{ 
    Layout = "";
}
<div class="products-slider">
    @foreach (DotNetShopping.Models.ProductBoxModel product in ViewBag.NewProducts)
    {
        <div>
            @Html.Partial("_ProductPartial", product)
        </div>
    }
</div>
