@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="accountBox">

    <img src="~/images/60-px.jpg" class="accountPhoto" />
    <div class="accountText">
        <div class="accountName">Kamuran Akkor</div>
        <div class="accountTitle">Learning Professional</div>
    </div>

    <div class="row">
        <div class="leftProfilNumber">
            <div class="profilBorder col-lg-4 col-md-4">
                <div class="profilNumber">569</div>
                <div class="profilPartialNumber">LESSONS</div>
            </div>
            <div class="profilBorder col-lg-4 col-md-4">
                <div class="profilNumber">89</div>
                <div class="profilPartialNumber">SAMPLE</div>
            </div>
            <div class="profilBorder col-lg-4 col-md-4" style="border:0px !important">
                <div class="profilNumber">102</div>
                <div class="profilPartialNumber">FOLLOWING</div>
            </div>
        </div>
    </div>
    <div class="borderBottom"></div>
    

</div>
