
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="lessonBox">
    <div class="lessonLeft"></div>
    <div class="lessonRight">
        <img src="~/images/pic1@2x.jpg" srcset="" />
    </div>
</div>