
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="menu">
    <div class="mainMenu">MAIN MENU</div>
    <div class="itemMenu">
        <div class="col-md-2">
            <img src="~/images/dashboard.svg" />
        </div>
        <div class="col-md-10">
            Dashboard
        </div>
    </div>
    <div class="itemMenu">
        <div class="col-md-2">

            <img src="~/images/customers.svg" />
        </div>
        <div class="col-md-10">
            Custumers
        </div>
    </div>
    <div class="itemMenu">
        <div class="col-md-2">
            <img src="~/images/alerts.svg" />
        </div>
        <div class="col-md-10">
            Alerts
        </div>
    </div>
    <div class="itemMenu">
        <div class="col-md-2">

            <img src="~/images/calendar.svg" />
        </div>
        <div class="col-md-10">
            Celander
        </div>
    </div>
    <div class="itemMenu">
        <div class="col-md-2">

            <img src="~/images/inbox.svg" />
        </div>
        <div class="col-md-10">
            Inbox
        </div>
    </div>
    <div class="itemMenu">
        <div class="col-md-2">
            <img src="~/images/memos.svg" />
        </div>
        <div class="col-md-10">
            Memos
        </div>
    </div>
</div>