@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="row" style="margin-top:30px">
    <div class="tableRow">
        <div class="tableRowLeft">
            Completed
        </div>
        <div class="tableRowRight">
            See All
            <img src="~/images/arrow.png" />
        </div>
    </div>
    <div class="tableRow">
        <div class="tableRowLeft">
            <div class="tableDate">JUL </br> 28</div>

        </div>
        <div class="tableDetails">Gumroad, Inc</div>
        <div class="tableRowRight">
            <div class="money">+250,00</div>
            <div class="unitMoney">USD</div>
        </div>
    </div>

</div>