
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login ALMS</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
 
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />


    </environment>
    <link href="/css/login.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>


    <div class="container body-content container-table">

        <div class="vertical-center-row">
            <div class="row">

                <div class="login col-12 col-sm-6">
                    <div class="loginForm">
                        <img src="~/images/icon.svg" class="loginIcon" />
                        <div class="loginFormBox">
                            <form method="post" id="loginForm">
                                <div class="loginSignIn">Sign In</div>
                                <div class="loginLabel">E-MAİL ADDRESS</div>
                                <div class="loginBase">
                                    <input type="text" id="txtUserName" name="txtUserName" />
                                </div>
                                <div class="loginLabel">PASSWORD</div>
                                <div class="loginBase">
                                    <input type="password" id="txtPassword" name="txtPassword" />
                                    <img src="~/images/eye.svg" class="loginEyeIcon" onclick="eyeClick()" />
                                </div>
                                <button class="loginButton" onclick="loginClick()">Sign In</button>
                            </form>
                        </div>
                        <div class="loginConnect">
                            <div class="loginConnectLabel">or connect with</div>
                            <div class="loginConnect">
                                <div class="loginConnectButton" loginBorderRight>
                                    <div class="loginConnectButtonContent">
                                        <div><img src="~/images/twitter.svg" /><div>Twitter</div></div>
                                    </div>
                                </div>
                                <div class="loginConnectButton " loginBorderRight>
                                    <div class="loginConnectButtonContent">
                                        <div><img src="~/images/facebook.svg" /><div>Facebook</div></div>
                                    </div>
                                </div>
                                <div class="loginConnectButton">
                                    <div class="loginConnectButtonContent">
                                        <div><img src="~/images/google.svg" /><div>Google</div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login col-12  col-sm-6">
                    <img src="~/images/pic-base.jpg"
                         srcset="~/images/pic-base@2x.jpg 2x,
             ~/images/pic-base@3x.jpg 3x"
                         class="PicBase">
                    <div class="loginImageBox">
                        <div class="loginWelcomeTitle">Welcome to ALMS </div>
                        <div class="loginWelcomeContent"> Simple yet Powerfull Learning Management System for <br />professionals and students</div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-12 col-md-6"></div>
                <div class="col-12 col-md-6">
                    <div class="forgetPassword">  <a href="#">Forget your Password ?</a></div>
                </div>
            </div>
        </div>


    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    <script type="text/javascript">
        $(document).ready(function () {

            $('#loginForm').validate({
                rules: {
                    txtUserName: {
                        required: true,
                        email: true
                    },
                    txtPassword: {
                        required: true,
                        minlength: 6
                    }
                }
            });

        });
        var password = true;
        function eyeClick() {
            if (password) {
                password = false;
                $("#txtPassword").get(0).setAttribute('type', 'text');
            }
            else {
                password = true;
                $("#txtPassword").get(0).setAttribute('type', 'password');
            }

        }
        function loginClick() {
            window.location = "Home/Dashboard";
        }
    </script>
</body>
</html>
